!!! 5
%html{class: "no-js", lang: "es"}
  %head
    %meta{charset: "utf-8"}
    %title La mejor comida en restaurante Facilito
    %meta{name: "description", content: "Come rico en el mejor restaurante de la ciudad, servicio de primera"}
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}/
    %link{rel: "stylesheet", href: "main.css"}
  %body
    %p#message Parece que no hemos podido conectarnos a internet! No hay problema, aquí esta la información que necesitas
    .container
      %h1 Restaurant Facilito
      %p 
        %strong Dirección 
        Carrera 9na, Santiago de Cali - Colombia, Centro Comercial Palmeto Plaza
      %p 
        %strong Horario
        5 - 11pm
      %p 
        %strong Teléfono 
        5552036
      %p 
        %strong Dirección 
        Servimos comida hecha por artistas, ven y prueba la mejor hamburguesa en nuestro clásico Facilito Hamburguer, o unas papas como nunca antes.
      #map
        %img{src: "mapa.jpg", alt: "Mapa del sitio"}
        %p Este mapa ofrece referencias del lugar del restaurante
      
      